# Default ignored files
/shelf/
/.idea/workspace.xml

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Editor-based HTTP Client requests
/httpRequests/
behave-webdriver-api.iml
geckodriver.log
utilities/__pycache__/
utilities/api/__pycache__/
utilities/web/__pycache__/

# Idea project config folder
.idea/